@page
@model Binebase.Exchange.Gateway.Admin.Pages.TransferModel
@{
    ViewData["Title"] = "Transfer";
}

<h1>Transfer</h1>

<table id="myTable" class="table">
    <tbody>
        <tr>
            <th>Execute operation of exporting money to HD wallet</th>
            <td>
                <form method="post">
                    <button class="btn btn-link" asp-page-handler="RunTransfer">Run Transfer</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
